.tableStyle{
    border: 2px solid #ccc;
    margin: 0 auto;
    border-collapse: collapse;


    .tableHeaderStyle{
        background-color: #f1f1f1;
        border: 2px solid #ccc; 
    }

    .tableDataStyle{
        text-align: left;
        border: 2px solid #e7e7e7; 
    }

    .tableLineStyle:hover{
        background-color: #ccc;
    }
}